*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    width: 100%;
    height: 65px;
    background-color: #FFFDFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #1A2126;
}
.header-content{
    width: 95%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 50px;
    height: 100%;
}
.list-txt{
    display: flex;
    width: 60%;
}
.list-txt p{
    margin-right: 20px;
    font-weight: 600;
    color: #1A2126;
    letter-spacing: 1px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.container {
    max-width: fit-content;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

input{
    padding:5px ;
}

select{
    padding: 5px;
    width: 100%;
}
.delete-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #cc0000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}