body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 65px;
    background-color: #FFFDFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #1A2126;
}
.header-content{
    width: 95%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 50px;
    height: 100%;
}
.list-txt{
    display: flex;
    width: 60%;
}
.list-txt p{
    margin-right: 20px;
    font-weight: 600;
    color: #1A2126;
    letter-spacing: 1px;
    cursor: pointer;
}

h2 {
    text-align: center;
    padding: 20px;
    color: #333;
}

table {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #555;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

tr:hover {
    background-color: #f2f2f2;
    transition: background-color 0.2s ease;
}

.total-row {
    background-color: #d5f7e7;
    font-weight: bold;
}

.add-row-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.add-row-btn:hover {
    background-color: #45a049;
}

.add-form {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.add-form input[type="number"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-form button:hover {
    background-color: #0056b3;
}